body {
	/*margin-top: 75px;*/
	padding: 5px;
}

.inactiveWizardStep {
	color: #999999;
}
.activeWizardStep {
	color: #428BCA;
}

/* Admin Menu */
.nav-pills>li>a {
	padding: 5px 10px;
}

.my-fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


h3 .contentheadline {
	margin-top:0 ! important;
}

.teamSelection {
    list-style-type: none ! important;
    margin: 0 0 0 15px;
    padding: 0;
}

.footer-list li {
	display: inline;
	list-style-type: none;
	padding:0 20px 0 0;
	margin:0;
}
.footer-list li .last {
	padding-right:0px ! important;
}
.footer-list {
	margin: 0;
    padding: 0;
}


/** Used for carousel in landing page **/
#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}


.explanationBg, .nav-pills>li[data-slide-to="0"].active a { background-color: #2980b9; }
.organizeBg, .nav-pills>li[data-slide-to="1"].active a { background-color: #999; }
.step1Bg, .nav-pills>li[data-slide-to="2"].active a { background-color: #e67e22; }
.step2Bg, .nav-pills>li[data-slide-to="3"].active a { background-color: #16a085; }

.carousel-description {
	z-index:10;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	color: #fff;
	/*position:absolute;*/
	padding: 20px;
}

.carousel-description a, .carousel-description a:hover, .carousel-description a:visited, .carousel-description a:active {
	color: #fff ! important;
	text-decoration:underline;
}
.carousel-headline {
	text-align:center;	
}
.carousel-headline h3 {
	margin-top:0 ! important;
}
/** End carousel styles **/