<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n
     </pattern>
    </encoder>
  </appender>
  
  
   <appender name="EMAIL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MYLOGDIR}/email.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${MYLOGDIR}/email.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
		<pattern>%date %level [%thread] %logger{10} - %msg%n</pattern>
    </encoder>
  </appender>
  
   <appender name="TRACKING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MYLOGDIR}/tracking.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${MYLOGDIR}/tracking.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
		<pattern>%date - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="MAIN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${MYLOGDIR}/rd.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${MYLOGDIR}/rd.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
		<pattern>%date %level [%thread] %logger{10} - %msg%n</pattern>
    </encoder>
  </appender> 
    
  
  	<logger name="org.runningdinner.service.email.EmailService" level="INFO" additivity="false">
		<appender-ref ref="EMAIL_FILE" />
	</logger>
	
	<logger name="org.runningdinner.event.listener.TrackRunningDinnerListener" level="DEBUG" additivity="false">
		<appender-ref ref="TRACKING_FILE" />
	</logger>
 
	<logger name="org.runningdinner" level="INFO" additivity="false">
		<appender-ref ref="MAIN_FILE" />
	</logger>

	<logger name="org.springframework.web" level="DEBUG" additivity="false">
		<appender-ref ref="MAIN_FILE" />
	</logger>

	<root level="WARN">
	  <appender-ref ref="MAIN_FILE" />
	</root>

</configuration>